.pt11 {
    background-color: rgb(46, 46, 46);
    width: 142px;
    height: 142px;
    border-radius: 15px;
    display: flex;

}

.pt2 {
    display:flex;
    background-color: rgb(46, 46, 46);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-left:15px;

}

.o {
    white-space: nowrap;
    height: 100px;
    width: 100px;
    display: inline-block;
}

.cvadrat1 {
    display: inline-block;
    position: absolute;
    right: 1070px;
    bottom: 240px;
    border-radius: 5px;

}

.o {
    gap: 15px;
    margin-left: 15px;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-between;
}

.cvadrat2 {
    display: inline-block;
    position: absolute;
    right: 860px;
    bottom: 240px;
    border-radius: 5px;
}
.cvadrat3 {
    display: inline-block;
    position: absolute;
    right:1070px;
    bottom: 20px;
    border-radius: 5px;
}
.cvadrat4 {
    display: inline-block;
    position: absolute;
    right: 860px;
    bottom: 20px;
    border-radius: 5px;
}
.str2{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
    width:960px;
    margin-top:15px;
}
.str3{
    margin-left:15px;
    margin-top:15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
    width:960px;
}

.big{
    display:flex;
    background-color: rgb(46,46, 46);
    border-radius:15px;
    height:300px;
    width:600px;
}

.tb1{
    margin-left:6px;
    font-weight: 900;
    font-size:10px;
    color:white;

    font-style: normal;
}
.tb2{
    margin-left:6px;
    font-weight: 900;
    font-size:10px;
    color:white;
}
.grafik2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius:5px ;
    bottom:-395px
}

.grafik3 {
    display:flex;
    flex-direction: column;
    position:absolute ;
    border-radius:5px;
    bottom:-395px;
    left:425px;
}

.grafik4 {
    display:flex;
    flex-direction: column;
    position: absolute;
    border-radius: 5px;
    bottom:-395px;
    left:845px;
}