.pt11 {
    background-color: rgb(46, 46, 46);
    width: 142px;
    height: 142px;
    border-radius: 15px;

}

.pt2 {
    display:flex;
    background-color: rgb(46, 46, 46);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-left:15px;

}

.o {
    gap:15px;
    margin-left:15px;
    height: 300px;
    width: 300px;
    display:flex;
    align-items: flex-start;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-between;


}

.str1{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
    width:960px;
}
.str2{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
    width:960px;
    margin-top:15px;
}
.str3{
    margin-left:15px;
    margin-top:15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
    width:960px;
}

.big{
    display:flex;
    background-color: rgb(46,46, 46);
    border-radius:15px;
    height:300px;
    width:600px;
}

.tb1{
    margin-left:6px;
    font-weight: 900;
    font-size:10px;
    color:white;

    font-style: normal;
}
.tb2{
    margin-left:6px;
    font-weight: 900;
    font-size:10px;
    color:white;
}

.tb1-1 {
    margin-top: 15px;
    margin-left:10px;
    color:blueviolet;
}
.line{
    width:60px;
    border:0;
    height: 2px;
    background-color: white;
    margin-left: 15px;
}
.tb1-2{
    color: forestgreen;

}
.tb1-3{
    font-size: 5px;

}



.grafik2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius:5px ;
    bottom:-330px;
    left: 25px;
}

.grafik3 {
    display:flex;
    flex-direction: column;
    position:absolute ;
    border-radius:5px;
    bottom:-330px;
    left:340px;
}

.grafik4 {
    display:flex;
    flex-direction: column;
    position: absolute;
    border-radius: 5px;
    bottom:-330px;
    left:665px;
}


    .c1 {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 10px;
    }
.cvadrat1{
        margin-left:18px ;
        border-radius:5px;
        margin-top: -300px;

    }
.cvadrat2{
    margin-left: -320px;
    border-radius: 5px;
    margin-top: -300px;
}
.cvadrat3{
    margin-right: 20px;
    border-radius: 5px;
    margin-top: -135px;
    margin-left: 12px;
}
.cvadrat4{
    margin-right: 10px;
    border-radius: 5px;
    margin-top: -135px;
}
.grafik1{
    border-radius:5px ;
    margin-right: 15px;
    margin-top: -300px;
    margin-left: 15px;

}
.c2 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 11px;
}
.grafik4{
    border-radius: 5px;
    margin-right: 10px;
    top: 960px;
    left: 654px;
}
.grafik3{
    border-radius: 5px;
    margin-right: 10px;
    top: 960px;
}
.grafik2{
    border-radius: 5px;
    margin-right: 10px;
    top: 960px;
}
.c3{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 11px;
}
.grafik5{
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 330px;
}
.grafik6{
    border-radius: 5px;
    margin-left: 15px;
    margin-top:330px;
}

