.pt11 {
    background-color: rgba(12,37,61,.95);
    width: 142px;
    height: 142px;
    border-radius: 15px;

}

.pt2 {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    background-color: rgba(12,37,61,.95);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-left: 15px;

}

.o {
    gap: 15px;
    margin-left: 15px;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-between;


}

.str1 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
    width: 960px;
}

.str2 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
    width: 960px;
    margin-top: 15px;
}

.str3 {
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
    width: 960px;
}

.big {
    display: flex;
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    height: 300px;
    width: 600px;
}

.tb1 {
    margin-top: 8px;
    margin-left: 6px;
    font-weight: 900;
    font-size: 10px;
    color: white;

    font-style: normal;
}

.tb2 {
    margin-left: 6px;
    font-weight: 900;
    font-size: 10px;
    color: white;
}

.tb1-1 {
    margin-left: 15px;
    font-weight: 1000;
    font-size: 40px;

    color: #8174fd;
}

.line {
    margin-top: 5px;
    margin-left: 10px;
    width: 80px;
    border: 0;
    height: 1px;
    background-color: white;
}

.tb1-2 {
    margin-left: 15px;
    font-weight: 1000;
    font-size: 20px;
    color: #00d569;
    margin-top: 20px;


}

.tb1-3 {
    font-weight: 1000;
    color: #97a4af;
    font-size: 10px;
    margin-left: 15px;

}

.tb2-1 {
    margin-left: 15px;
    font-weight: 1000;
    font-size: 40px;

    color: #8174fd;
}

.tb2-2 {
    margin-left: 15px;
    font-weight: 1000;
    font-size: 20px;
    color: #00d569;
    margin-top: 20px;


}

.tb2-3 {
    font-weight: 1000;
    color: #97a4af;
    font-size: 10px;
    margin-left: 15px;
}

.tb3-1 {
    margin-left: 15px;
    font-weight: 1000;
    font-size: 40px;
    color: #00d569;
}

.tb3-2 {
    font-weight: 1000;
    color: #97a4af;
    font-size: 10px;
    margin-left: 15px;
}

.tb4-1 {
    margin-left: 15px;
    font-weight: 1000;
    font-size: 40px;

    color: #8174fd;
}

.tb4-2 {
    margin-left: 15px;
    font-weight: 1000;
    font-size: 20px;
    color: #00d569;



}

.tb4-3 {
    font-weight: 1000;
    color: #97a4af;
    font-size: 10px;
    margin-left: 15px;
}

.tb4-4 {
    font-weight: 1000;
    color: white;
    font-size: 10px;
    margin-left: 15px;
}


.abso1-3 {
    width: 60px;
    height: 35px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 230px;
    top: 30px;
}

.tb6-1 {
    margin-left: 15px;
    font-weight: 1000;
    font-size: 40px;

    color: #8174fd;
}

.tb6-2 {
    color: white;
    font-size: 11px;
    margin-left: 15px;
    font-weight: 1000;
}

.tb6-3 {
    font-weight: 1000;
    font-size: 20px;
    color: #00d569;
}

.tb6-4 {
    flex-direction: row;
    color: #97a4af;
    font-size: 11px;
    font-weight: 1000;

}

.fon {
    background: black;
    height: 4px;
    width: 95%;
}

.polosa1 {
    border-radius: 10px;
    height: 100%;
    background: #fdd56d;
}

.bt5p {
    font-size: 10px;
    color: white;
}

.poloski {
    width: 100%;
    height: 40%;

}

.absolute-6-n {
    position: absolute;
    top: 40px;
    left: 235px;
}

.poloski2 {

    width: 100%;
    height: 40%;
}

.polosa2 {
    border-radius: 10px;
    height: 100%;
    background: #fdd56d;
}

#chart2 {
    max-height: 110px;
}

.chart2__stepper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    /*font-size: 12px;*/
}

.chart2__stepper div {
    padding: 4px 8px;
    border: 2px solid white;
}

.strelka {
    width: 100px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./Ptkct.png");
    background-position: center;
    position: absolute;
    left: 100px;
    bottom: 1px;
    transform-origin: 50% 50%;
    transform: rotate(-180deg);
    transition: all 0.8s;
    /*/ / animation: rotate 7 s ease-in-out infinite alternate;*/
}

#chart1 {

}


.procent_0 {
    font-size: 12px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 45px;
    top: 190px;
}

.procent_25 {
    font-size: 12px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 55px;
    top: 125px;
}

.procent_50 {
    font-size: 12px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 145px;
    top: 90px;
}

.procent_75 {
    font-size: 12px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 220px;
    top: 125px;
}

.procent_100 {
    font-size: 12px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 250px;
    top: 190px;
}

.pdf1 {
    height: 20px;
    width: 20px;
    background-image: url('./iconPDF.png');
    margin-top: 15px;
    background-size: cover;
}

.pdf {
    width: 20px;
    margin-left: 10px;
}

.text {
    font-size: 12px;
    color: white;
}

.polosia1 {
    border-radius: 10px;
    height: 100%;
    background: #3989D2FF;
}

.textXpoloskiXpdf {
    margin-top: 35px;
    width: 150px;


}

.pdf2 {
    margin-top: 15px;
}

.c1 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 10px;
}

.cvadrat1 {
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 5px;
    position: relative;
    right: 295px;
}

.cvadrat2 {
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 5px;
    position: relative;
    right: 305px;
}

.cvadrat3 {
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 5px;
    position: relative;
    bottom: -160px;
    left: 5px;
}

.cvadrat4 {
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 5px;
    position: relative;
    bottom: -160px;
    left: -5px;
}

.grafik1 {
    border-radius: 5px;
    margin-right: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.c2 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.grafik2 {
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
}

.grafik3 {
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
}

.grafik4 {
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
}

.c3 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 11px;
}

.grafik5 {
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}

.grafik6 {
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}

body {
    font-family: "PT Sans", sans-serif;
    background-image: url("backgroundProject.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.conteiner {
    max-width: 960px;
    margin: 0 auto;
}